.App {
  /* text-align: center;
  justify-content: center; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* --color-one: #CDFCF6;
  --color-two: #BCCEF8;  */
  --color-one: #ffffff;
  --color-two: #ffffff; 
  --dark: #333;
  /* padding: 0; */
}

  
p {
  font-size: .8rem;
}

#about p{
  font-size: 1rem;
}

label {
  font-size: .8rem;
}

h1 {
font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

h4, h5 {
  font-weight: bold;
}

.highlight {
  background-color: rgb(255, 253, 113);
}

.grand-total {
  font-size: 1rem;

}

.grand-total-ph {
  align-self: center;
}

.grand-total-num {
  font-size: 1.8rem;
  align-self: center;
}

.total-card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: 35px;
  height: 225px;
  padding: 1.5em;
  background-color: #FAF7F0;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

.split-card {
  height: 150px;
}


/* [class^="icon"] {
  margin-top: 5px;
  margin-bottom: 10px;

} */

.icon-tips {
  margin-bottom: 5px;
  margin-right: 8px;
}

.bg-tax {
  background: var(--color-one);

}

.bg-tax-mid {
  background: linear-gradient(
  to bottom,
  var(--color-one) 0%,
  var(--color-one) 70%,
  var(--color-two) 70%,
  var(--color-two) 100%
  );
  display: flex;

}

.bg-split {
  background: var(--color-two);
  padding-bottom: 100px;
}

.bg-footer {
  background: black;
  color: #FAF7F0;
  padding-top: 2em;
}

#tips {
  padding-bottom: 2em;
}

#tax {
  padding-bottom: 2em;
}

#footer {
  height: 4em;
}
