.App {
  text-align: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.highlight {
  background-color: rgb(255, 253, 113);
}


.form-item {
  margin: 4px;
}

.wide-btn {
  width: 100%
}

.instructions {
  align-items: center;
}

.instr-txt {
  font-size: .9rem;
  display: inline-block;
  text-align: left;
}


.text-form {
  text-align: left;
}

.footer {
  background-color: #333;
  clear: both;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  padding: 10px;
  color: rgb(255, 237, 237);
}




/* .amounts-table {
  width: 100%;
  font-size: 1rem;
  user-select: none;
} */